.height-100vh{height: 100vh;}
.content-height{height: calc(100% - 90px);}
.content-background{background: url("../assets/frontend/slide/2/2.svg") no-repeat center center /cover;}
.text-container{padding: 15px 25px;}
.page-title{position: relative; margin-bottom: 0; top: 0; left: 0; padding: 12px 25px;}
.page-title::before{content: ''; position: absolute; top: 0; left: 0; background: #6C3CBF; width: 12px; height: 100%;}
.box{border: 4px solid #6C3CBF; padding: 15px; position: relative; height: 100%;}
.box-title{background: #fff; text-transform: uppercase; margin-bottom: 0; font-size: 18px; color: #6C3CBF; font-weight: 700;}
.box-top-negative{margin-top: -35px; padding: 0 20px;}
.box-green{border-color: #2AC5A7;}
.box-green .box-title{color: #2AC5A7;}
.box-yellow{border-color: #FFAC00;}
.box-yellow .box-title{color: #FFAC00;}
.box-blue{border-color: #9788F1;}
.box-blue .box-title{color: #9788F1;}
.grid-box{display: grid; grid-template-columns: 0.5fr 2fr; color: #fff;}
.grid-box-text{margin-bottom: 0; padding: 20px;}
.grid-box .grid-box-text:first-child{border-right: 1px solid #fff;}
.grid-box-main{background: #000;}
.box-circle{border-radius: 50%; background-image: linear-gradient(#F48A59, #FC2786); width: 150px; height: 150px; position: relative; margin: 0 auto; margin-bottom: 20px; position: relative;}
.arrow-right:after{content: ''; position: absolute; top: 40px; right: 0; width: 50px; height: 50px; background: url('../assets/frontend/slide/2/img/arrow.png') no-repeat center center /cover;}
.arrow-right:last-child.arrow-right:after{display: none;}
.box-text-in{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.box-step{color: #ffc000; text-transform: uppercase; font-size: 14px;}
.box-step-text{color: #fff; text-transform: uppercase; font-size: 14px; margin-bottom: 0;}
.step-list-main{list-style-type: none; padding-left: 0;}
.step-list{padding: 10px 0; border-bottom: 1px solid #ccc;}
.main-page{border: 20px solid #6C3CBF; height: 100vh;}
.main-page .main-page-title-block{height: calc(100% - 30px);}
.main-page .main-page-number{font-size: 12rem; color: #6C3CBF; font-weight: 600; display: block; margin-top: 40px;}
.main-page .main-page-title{font-size: 36px; text-transform: uppercase; font-weight: 500;}
.box-text{color: #000;}
.list{list-style-type: none; padding-left: 0;}
.list-items{position: relative; padding-left: 16px;}
.list-items:before{content: ''; position: absolute; top: 9px; left: 0; background: url('../assets/frontend/images/right-arrow.png') no-repeat center center /cover; width: 10px; height: 10px;}
.boxed-text{background-color: #6C3CBF; color: #fff; text-transform: uppercase; padding: 8px 2px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); font-size: 16px;}
.chart-sample-text-box{position: absolute; background-color: #d9d9d9; padding: 5px 10px; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;}
.sample-title{text-transform: uppercase; font-size: 16px;}
.sample-text{line-height: 1.7; font-size: 14px;}
.grey-background{background: #f1f1f1; padding: 10px;}
.grey-background .box-title{background: inherit;}
.box-purple-background{background: #6C3CBF; color: #fff; font-size: 20px; padding: 5px 5px; border-radius: 5px;}
.blur-chart{filter: blur(4px);}
.hr-block .box-border{border-top: 1px solid #000; display: block; width: 100%; margin-bottom: 200px;}
.industry-development-table thead{background: #6C3CBF; color: #fff; text-transform: uppercase; font-weight: 700; border-top: 1px solid #000; border-bottom: 1px solid #000; text-align: center;}
.industry-development-table tbody{border-bottom: 1px solid #000;}
.industry-development-table tbody .box-purple-background{border-radius: 0; font-size: 16px; padding: 10px 5px; display: inline-block; margin-bottom: 0;}
.industry-development-table tbody tr:nth-child(odd){background: #e7e7e7;}
.industry-development-table tr td, .industry-development-table tr th{padding: 20px 10px;}
.industry-analysis-card .card-header{background: #92278f; color: hwb(0 100% 0%); font-size: 18px; font-weight: 600; text-align: center;}
.industry-analysis-card.buyer-background .card-header{background: #9b57d3;}
.industry-analysis-card.new-entry-background .card-header{background: #755dd9;}
.industry-analysis-card.threat-substitute-background .card-header{background: #665eb8;}
.industry-analysis-card .card-body{background: #f2f2f2; height: 300px;}
.competitive-card.industry-analysis-card .card-header{background: #d6d7db; padding: 5px 10px; text-align: left; color: #333;}
.competitive-card.industry-analysis-card .card-body{height: 150px;}
.boxed-text-centered{top: 50%; transform: translate(-50%, -50%); height: fit-content;}
.industry-development-table.market-table thead{background: #c3c5be; color: #6C3CBF; text-align: center; border-top: none; border-bottom: none;}
.industry-development-table.market-table tbody tr.orange-background td:nth-child(1),
.industry-development-table.market-table tbody tr.orange-background td:nth-child(2){background: #ef754a; color: #fff;}
.industry-development-table.market-table tbody tr.purple-background td:nth-child(1),
.industry-development-table.market-table tbody tr.purple-background td:nth-child(2){background: #956d98; color: #fff;}
.industry-development-table.market-table tbody tr.blue-background td:nth-child(1),
.industry-development-table.market-table tbody tr.blue-background td:nth-child(2){background: #405c72; color: #fff;}
.industry-development-table.market-table tbody tr.grey-background td:nth-child(1),
.industry-development-table.market-table tbody tr.grey-background td:nth-child(2){background: #535353; color: #fff;}
.industry-development-table.market-table tbody tr td{border-bottom: 1px solid #b5bab6; border-right: 1px solid #b5bab6; background: #fff;}
.about-title{font-size: 2rem; border-bottom: 5px solid #f2ac3f; display: inline-block; padding-bottom: 10px; width: 50%; margin-bottom: 30px;}
.about-text{font-size: 1rem;}
.about-sub-title{font-size: 1rem; text-transform: uppercase; margin-top: 40px;}
.client-img{display: flex; align-items: center; height: 100%;}
.about-clients-imgs{border: 1px solid #eee; box-shadow: 0 21px 15px 6px rgba(0, 0, 0, 0.2); padding: 0 40px;}
.about-clients-imgs .row{border-bottom: 1px solid #000;}
.client-img img{object-fit: contain;}
.client-box{border: 2px solid #002e75; border-top-right-radius: 30px; border-bottom-left-radius: 30px; padding: 25px; margin-top: 10px;}
.page-5-head-text:before{display: none;}
.two-columns{-moz-column-count: 2; -moz-column-gap: 20px; -webkit-column-count: 2; -webkit-column-gap: 20px; column-count: 2; column-gap: 20px;}
.contents-index-sub-list-item{color: #000; text-transform: initial; font-size: 16px; font-weight: 500;}
.contents-index{padding-left: 25px;}
.contents-index, .contents-index-sub-list, .contents-index-sub-list-inner{list-style-type: none;}
.contents-index-sub-list-bold-item{font-weight: 600;}
.contents-index-sub-list-inner-item{font-weight: 500; font-size: 16px; color: #000; text-transform: initial;}
.purple-color{color: #6C3CBF; font-weight: 300;}
.purple-background{background: #6C3CBF !important; color: #fff !important;}
.blue-background{background: #002060 !important; color: #fff !important;}
.dark-grey-background{background: #d9d9d9;}
.orange-background{background: #ed7d31 !important; color: #fff !important;}
.data-point-list{font-size: 18px; margin-bottom: 15px;}
.top-block{border: 1px solid #6C3CBF;}
.square-points .list-items::before{background: #6C3CBF; width: 5px; height: 5px; top: 11px;}
.square-points .list-items:last-child{margin-bottom: 0;}
.img-block{background: #7030a0; padding: 20px 25px; height: 100%;}
.img-block img{width: 70px;}
.arrow-steps{display: grid; grid-template-columns: 1fr 1fr 1fr; padding-right: 30px; grid-gap: 10px;}
.step-block{background: #7030a0; color: #fff; text-transform: uppercase; font-size: 18px; padding: 10px 10px 10px 50px; position: relative;}
.step-block:after{content:''; border-top:1px solid #ccc; border-right:1px solid #ccc; width:45px; height:45px; position:absolute; right:-13px; top:5px; background-color:#7030a0; z-index:9; -webkit-transform: translate(10px,4px) rotate(45deg); -moz-transform: translate(10px,4px) rotate(45deg); -ms-transform: translate(10px,4px) rotate(45deg); -o-transform: translate(10px,4px) rotate(20deg); transform: translate(10px,4px) rotate(45deg);}
.step-block:before{content:''; border-top:1px solid #ccc; border-right:1px solid #ccc; width:45px; height:45px; position:absolute; left:-12px; top:6px; background-color:white; z-index:0; -webkit-transform: translate(-10px,4px) rotate(45deg); -moz-transform: translate(-10px,4px) rotate(45deg); -ms-transform: translate(-10px,4px) rotate(45deg); -o-transform: translate(-10px,4px) rotate(20deg); transform: translate(-10px,4px) rotate(45deg);}
.img-icon-listing{list-style-type: none; padding-left: 0;}
.img-icon-list-item{display: flex; grid-gap: 15px; margin-bottom: 25px;}
.img-icon-list-item img{width: 40px; height: 40px; object-fit: contain;}
.img-icon-list-text{font-size: 16px; margin-bottom: 0;}
.bottom-block{background: #7030a0; color: #fff; padding: 15px; display: flex; align-items: center;}
.secondary-research-purple-box{background: #7030a0; color: #fff; text-transform: uppercase; padding: 15px 10px; font-size: 20px;}
.secondary-research-objective-box-img{margin-top: 10px;}
.secondary-research-grey-box{background: #d9d9d9; color: #7030a0; padding: 16px 10px; font-size: 18px;}
.secondary-research-objective-box{background: #d9d9d9; border-top-right-radius: 20px; border-bottom-left-radius: 20px; padding: 12px; margin-left: 105px; width: 300px; position: relative; height: 96px; display: grid; align-content: center;}
.secondary-research-objective-box-title{color: #7030a0; margin-bottom: 5px;}
.secondary-research-objective-box-text{margin-bottom: 0;}
.secondary-research-list-title{color: #7030a0; font-weight: 700;}
.arrow-after:after{content: ''; position: absolute; top: 50%; right: -28px; width: 10%; height: 120%; background: url('../assets/frontend/slide/16/arrow.png') no-repeat center center /contain;}
.arrow-after.arrow-before:after{left: -28px; transform: rotateY(180deg);}
.hypothesis-list .data-point-list{font-size: 16px;}
.primary-research-modes-box{text-transform: capitalize; text-align: center; height: 100%; display: grid; align-content: center; justify-items: center;}
.primary-approach-main .card-body{height: 100%;}
.primary-approach-title{font-weight: 700;}
.primary-research-response-title{text-transform: uppercase; text-align: center; font-weight: 700; margin-bottom: 0; padding: 10px 0;}
.primary-research-response-text{font-weight: 400; margin-bottom: 0; padding: 10px 0;}
.data-triangle-title{text-transform: uppercase; padding: 15px 5px; text-align: center; margin-bottom: 0;}
.market-estimation-main .data-point-list{margin-bottom: 2px;}
.market-estimation-main .square-points .data-point-list:before{background: transparent; border: 1px solid #6C3CBF;}
.market-size-estimation-text{background: #f5f5f5; padding: 5px;}
.market-size-estimation-btm{margin-bottom: 90px;}
.bottom-up-text:nth-child(1){margin-left: -90px;}
.bottom-up-text:nth-child(2){margin-left: -60px;}
.bottom-up-text:nth-child(3){margin-left: -20px;}
.bottom-down-text:nth-child(2){margin-left: -40px;}
.bottom-down-text:nth-child(3){margin-left: -90px;}
.color-box{display: inline-block; width: 20px; height: 15px; border-radius: 50%;}
.industry-development-table.takeaway-table thead {background-color: #c3c5be; color: #000; border: none;}
.industry-development-table.takeaway-table tbody td{padding: 40px 0;}
.internal-slide-tag{background-color: #4472c4; color: #fff; text-transform: capitalize; width: 120px; padding: 5px 10px; text-align: center; position: absolute; top: -10%; right: 30%;}
.competition-degree-block .list-items{margin-bottom: 2px;}
.clients-list h3{color: #4472c4; text-transform: uppercase;}
.price-spectrum-text{background: #f5f5f5; padding: 35px; border-radius: 20px;}
.global-mkt-chart-bottom-text{background: #fff; border: 1px solid #ceb976; border-radius: 100px; position: absolute; bottom: -40px; padding: 10px 40px;}
.blur-element{filter: blur(5px);}
.global-market-size-table thead th{padding: 6px 10px; line-height: 1;}
.industry-development-table.global-market-size-table tbody td{padding: 20px 0;}
.data-hidden-text{position: absolute; top: 50%; display: inline-block; background: #d9d9d9; padding: 8px;}
.industry-development-table.global-market-key-takeaway thead th{padding: 15px 0; background: #7030a0;}
.industry-development-table.europe-geography-table thead th, .industry-development-table.europe-geography-table tbody td{padding: 10px 0;}
/* Responsive Start */
@media (max-width: 12000px) {
    .hr-block .box-border{margin-bottom: 150px}
}

@media (max-width: 991px) {
    .hr-block .box-border{margin-bottom: 100px}
}

@media (max-width: 480px) {
    .industry-development-table tr td, .box-purple-background{font-size: 14px;}
    .industry-development-table tr th, .industry-development-table tbody .box-purple-background{font-size: 12px;}
}
/* Responsive End */