.intro-frame{
    transform-origin: bottom left;
    z-index: 2;
    position: absolute;
    /* white-space: pre; */
    overflow: visible;
    line-height: 1.5;
}
.intro-name{
    top: 9rem;
    text-transform: uppercase;
    font-size: 24px;
    left: 4.4rem;
}
.intro-forcast{
    top: 12rem;
    text-transform: uppercase;
    font-size: 24px;
    left: 4.4rem;
}
.intro-sample-text span{
    top: 24rem;
    text-transform: uppercase;
    font-size: 24px;
    left: 56rem;
}
.intro-segment{
    top: 17rem;
    left: 4.4rem;
    width: 50%;
    height: 30%;
    border: 2px solid yellow;
    position: absolute;
    background-color: #ffffff;
}
.intro-segment span {
    position: relative;
    top: 5%;
    display: block;
    padding-top: 1rem;
    padding-left: 1rem;
}

.page-2-title{
    top: 10rem;
    left: 5rem;
    font-size: 120%;
}
.page-2-message{
    font-size: 80%;
}
.message-container{
    top: 14rem;
    left: 5rem;
    width: 35rem;
    text-align: justify;
    position: absolute;
}
.image-header-text{
    top: 20rem;
    left: 5rem;
}

.page-3-title{
    top:5rem;
    left: 5rem;
    font-size:120%; 
}

.page-4-name{
    top:20rem;
    left:10rem;
    text-transform: uppercase;
    font-size: 180%;
}
.page-4-title{
    top:23rem;
    left:30rem;
    text-transform: uppercase;
    font-size: 200%;
}

.page-5-title-full{
    top: 7rem;
    left: 3rem;
    font-weight: 700;
    font-size: 120%;
}
.page-5-intro-index{
    top: 9rem;
    position: absolute;
    line-height: 1;
    left: 3rem;
    font-size: 14px;
}
.page-5-intro-index-right{
    top: 11rem;
    position: absolute;
    line-height: 1;
    left: 40rem;
    font-size: 14px;
}

.page-9-content{
    top: 10rem;
    left: 5rem;
    position: absolute;
}
.page-9-headings{
    font-weight: 600;
}
.page-9-content{ width: 70rem; }


.page-10-img{
    position: absolute;
    top: 10rem;
    left: 5rem;
}
.page-10-name{
    top: 20rem;
    width: 100px;
    font-size: 70%;
    color: #fff;
    left: 8rem;
    font-weight: 600;
}

.page-11-name{
    top: 21rem;
    width: 100px;
    font-size: 80%;
    color: #fff;
    left: 10rem;
    font-weight: 600;
}

.page-13-content{ 
    top: 12rem;
}
.row-100{ width: 100%; display: flex;}
.content-50{ width: 50%; top: 12rem; position: absolute; left: 4rem;}
.page-13-textarea{ left: 40rem; line-height: 2;}

.page-15-title
{
    top: 13rem;
    position: absolute;
    width: 70%;
    left: 10rem;
}
.page-15-step1{
    top: 23rem;
    left: 5rem;
}
.page-15-step1-title{
    top: 23rem;
    left: 9rem;
}
.page-15-step2{
    top: 23rem;
    left: 30rem;
}
.page-15-step2-title{
    top: 23rem;
    left: 35rem;
}
.page-15-step3{
    top: 23rem;
    left: 55rem;
}
.page-15-step3-title{
    top: 23rem;
    left: 60rem;
}
.page-15-message{
    top: 28rem;
    font-size: 80%;
    text-align: justify;
    left: 6rem;
    width: 20rem;
}
.page-15-coge{
    top: 31rem;
    font-size: 80%;
    left: 6rem;
    text-align: justify;
    width: 20rem;
}
.page-15-data{
    top: 35rem;
    font-size: 80%;
    text-align: justify;
    left: 6rem;
    width: 20rem;
}
.page-15-notes{
    top: 39rem;
    font-size: 80%;
    text-align: justify;
    left: 6rem;
    width: 20rem;
}
.page-15-deskjob{
    top: 28rem;
    font-size: 80%;
    text-align: justify;
    left: 33rem;
}
.page-15-contact{
    top: 31rem;
    font-size: 80%;
    text-align: justify;
    left: 33rem;
}
.page-15-school{
    top: 35rem;
    font-size: 80%;
    text-align: justify;
    left: 33rem;
}
.page-15-analysis{
    top: 39rem;
    font-size: 80%;
    text-align: justify;
    left: 33rem;
}
.page-15-finalize-text{
    top: 43rem;
    left: 4.4rem;
    width: 30%;
}
.page-15-finalize-right-text{
    top: 43rem;
    left: 35rem;
    width: 45%;
}